In [1]:
import cassandra

In [2]:
 ####CONNECT AND CREATE SESSION TO CASSANDRA ###
 
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
    print("Connected to cassandra!")
except Exception as e:
    print(e)

Connected to cassandra!

In [3]:
###CREATE KEYSPACES
try:
    session.execute("""
    CREATE  KEYSPACE IF NOT EXISTS my_keyspace 
    WITH REPLICATION = { 'class' : 'SimpleStrategy','replication_factor': 1}
    AND DURABLE_WRITES =  true;""")
except Exception as e:
    print(e)

In [3]:
###CONNECT TO OUR KEYSPACE ###
try:
    session.set_keyspace("my_keyspace")
    print("Connected!")
except Exception as e:
    print(e)

Connected!

In [8]:
####CREATING TABLES###
query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
    print("Table created!")
except Exception as e:
    print(e)
    
query = "CREATE TABLE IF NOT EXISTS artist_library "
query = query + "(artist_name text, year int, album_name text, PRIMARY KEY (artist_name,  year))"
try:
    session.execute(query)
    print("Table created!")
except Exception as e:
    print(e)
    
query = "CREATE TABLE IF NOT EXISTS album_library "
query = query + "(artist_name text, album_name text, year int, PRIMARY KEY (album_name, artist_name))"
try:
    session.execute(query)
    print("Table created!")
except Exception as e:
    print(e)

Table created!
Table created!
Table created!

In [9]:
###INSERTING DATA###A
query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + " VALUES (%s, %s, %s)"

query1 = "INSERT INTO artist_library (artist_name, year, album_name)"
query1 = query1 + " VALUES (%s, %s, %s)"

query2 = "INSERT INTO album_library (album_name, artist_name, year)"
query2 = query2 + " VALUES (%s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let It Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Who", "My Generation"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Beatles", 1970, "Let It Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Beatles", 1965, "Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Who", 1965, "My Generation"))
except Exception as e:
    print(e)

try:
    session.execute(query1, ("The Monkees", 1966, "The Monkees"))
except Exception as e:
    print(e)

try:
    session.execute(query1, ("The Carpenters", 1970, "Close To You"))
except Exception as e:
    print(e)

    
try:
    session.execute(query2, ("Let it Be", "The Beatles", 1970))
except Exception as e:
    print(e)
    
try:
    session.execute(query2, ("Rubber Soul", "The Beatles", 1965))
except Exception as e:
    print(e)
    
try:
    session.execute(query2, ("My Generation", "The Who", 1965))
except Exception as e:
    print(e)

try:
    session.execute(query2, ("The Monkees", "The Monkees", 1966))
except Exception as e:
    print(e)

try:
    session.execute(query2, ("Close To You", "The Carpenters", 1970))
except Exception as e:
    print(e)

In [12]:
##VALIDATE DATA##
query = "SELECT * FROM music_library WHERE year=2024;"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.artist_name, row.album_name)

2024 morgan wallen i desearve a drink
2024 post malone i had some help

In [14]:
query = "SELECT * FROM artist_library WHERE artist_name='The Beatles';"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.artist_name, row.year, row.album_name)

The Beatles 1965 Rubber Soul
The Beatles 1970 Let It Be

In [15]:
##DROPPING TABLE##
for t in ["music_library", "album_library", "artist_library"]:
    query = f"DROP TABLE {t}"
    try:
        rows = session.execute(query)
        print("Tables Dropped!")
    except Exception as e:
        print(e)

Tables Dropped!
Tables Dropped!
Tables Dropped!